{{ define "content" }}
<h1>{{ .Page.Title }}</h1>
<!-- .Params.Keyname retrieves the custom values that are defined in the 'Content page' front matter -->
<!-- _index.md: components: [-hero, - grid, - blurb, - hero, - text_block, - blog] -->
<!-- for each:- hero, - grid, etc there must be a matching partial layout template: hero.html, grid.html, etc -->
<!-- {{ . }} lists each element value as 'range' loops thru the array -->
<!-- dict is a named key:value pair for an array -->
  {{ range .Params.Components }}
<!-- Loop over the Index: "keys" to see assoc. values -->
    {{ range $component, $data := . }}
      {{ partial ( printf "%s.html" $component ) (dict $component .) }}
    {{ end }}
  {{ end }}
{{ end }}
